* {
  box-sizing: border-box;
}

.container2 {
  padding-top: 100px;
  width: 80%;
  margin: auto;
}

.coverclass {
  background-image: url(./img/ciasto1.jpg);
  background-position: center;
}

.card-img-top {
  height: 300px;
}

.grid-sizer,
.grid-item {
  width: 30%;
  margin-bottom: 10px;
}

img {
  border-radius: 0.25rem;
  max-width: 100%;
}
/* .grid-item--width2 {
  width: 400px;
} */
