body {
  box-sizing: border-box;
  font-family: "Montserrat", "Open Sans", "Arial";
  background-color: lavenderblush;
}

h1,
h2,
h3 {
  font-family: "Dancing Script", "Open Sans", "Arial";
}

img {
  border-radius: 0.25rem;
  max-width: 100%;
}

.container2 {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
  .grid-item {
    width: 30%;
    margin-bottom: 10px;
  }
  .smartphone-disabled {
    display: none;
  }
}

.card-img-top {
  height: 300px;
}

.grid-sizer,
.grid-item {
  width: 32%;
  margin-bottom: 10px;
}
